.features {
	padding: 60px 15px;
}

.features-list__box-icon {
	@include centeredFlex();

	// width: 270px;
	height: 120px;
	margin: 30px auto;

	background-color: $futures-images-background-color;
	border-radius: $main-border-radius;
}

.features__title {
	@extend %visually-hidden;
}

.features-list {
	// display: flex;

	@extend %list;
}

.features-list__title {
	margin-bottom: 10px;
	color: $title-text-color;
	font-weight: 700;
	font-size: inherit;
	line-height: 1.14;
	text-transform: uppercase;
}

.features-list__text {
	font-size: inherit;
	line-height: 1.71;
}

.features-list__item {
	// width: 270px;

	&:not(:first-child) {
		margin-left: 30px;
	}
}
