.hero {
	max-width: 480px;
	height: 400px;

	margin-left: auto;
	margin-right: auto;

	padding-top: 200px;
	padding-bottom: 200px;

	// background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
	// 	url(../images/Hero-image_new.jpg);

	background-color: $hero-background-color;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero__title {
	max-width: 696px;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: $third-text-color;
}

.hero__btn {
	@extend %button;

	padding: 10px 32px;

	color: $accent-button-text-color;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;

	letter-spacing: 0.06em;
	background-color: $accent-color;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
