.team {
	background-color: $secondary-background-color;
}

.team__main-title {
	margin-bottom: 50px;
}

.team-list {
	@extend %list;
	// display: flex;
}

.team-list__item {
	// flex-basis: calc((100% - 30px * 3) / 4);

	// width: 270px;
	background-color: $main-background-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.team-list__title {
	margin-bottom: 10px;

	color: $title-text-color;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.team-list__text {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	margin-bottom: 16px;
}

.team-list__card {
	padding: 30px 0;
}
