.logo {
	@extend %link;

	// display: block;
	font-family: $second-font-family;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
}

.logo__word-web {
	color: $logo-first-color;
}

.logo__word-studio {
	color: $logo-second-color;

	&--inverse {
		color: $logo-second-color-inverse;
	}
}

.header_logo {
	// margin-right: 93px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.logo__link {
	// display: block;
}
