.mobile-soc-links {
	@extend %list;
	display: flex;

	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	letter-spacing: 0.02em;

	color: $mobile-munu-soc-links-color;
}

.mobile-soc-links_item:not(:last-child) {
	margin-right: 20px;
}

.mobile-soc-links_link {
	display: block;
}
